# Note that not all variables here might be in use for your selected configuration

# Prisma
DATABASE_URL='mysql://fr2hr5c0qtqrl46d5xn5:pscale_pw_nsWwoN0CFyMlFU1sA5Hh7Jau9HUXBymlved5jsYnMmB@aws-sa-east-1.connect.psdb.cloud/plataforma_arbitragem?sslaccept=strict'

# Next Auth
NEXTAUTH_SECRET='aa0af5daa04628361101a59f57d1c0f755adb33850aba4f9832d434a4799ba1c10639c5a3d12963c8d6abdb75e66215b8a199e3a1dc9087c6fdc4aae347b9605'
NEXTAUTH_URL='http://localhost:3000/'

# AWS S3 Bucket
S3_UPLOAD_KEY='AKIAQBLNYR27N3Y4RYJQ'
S3_UPLOAD_SECRET='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'
S3_UPLOAD_BUCKET='nextgain'
S3_UPLOAD_REGION='sa-east-1'


RECAPTCHA_SECRET_KEY='6Lf7sbMlAAAAAP92SEeDPBQVti-Pr7BItOdVFEHK'