.chart {
  margin-block: 40px;
  padding: 20px;
  background: #20173f;
  -webkit-box-shadow: 3px 5px 10px 6px rgba(0, 0, 0, 0.27);
  box-shadow: 3px 5px 10px 6px rgba(0, 0, 0, 0.27);
}

.chartTitle {
  margin-bottom: 20px;
}

// .customTooltip {
//   background: white;

//   p {
//     color: #20183f;
//   }
// }

.customTooltip {
  background: #8000ff;
  border-radius: 4px;
  border: 1px solid #000;
  padding: 10px;
  color: #fff;
  font-size: 20px;
}
