.container {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/bb-queue.appspot.com/o/e-link%2Fgoing-to%2FCORRETORAS.png?alt=media&token=85a91e5a-461e-482a-9762-c5b157775e32");
  position: fixed;
  top: 0;
  height: 100vh;
  bottom: 0;
  right: 0;
  left: 0;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  z-index: 9999999999;
  overflow: hidden;

  &.containerChecked {
    background-image: url("/newbg1.webp");
  }
  &.containerCleaned {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bb-queue.appspot.com/o/e-link%2Fgoing-to%2FMonitor2.png?alt=media&token=520012a5-d90d-4118-9548-084c4ffbf032");
  }
}

.contentModal {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  z-index: 999999;

  padding-bottom: 200px;
  margin-top: 20px;
  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--gray-500);
    border-radius: 100vw;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 100vw;

    transition: filter 0.2s ease;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

.headerModal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(13, 15, 18, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
  width: 100%;

  .contentHeaderModal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    width: 100%;

    @media only screen and (max-width: 768px) {
      padding-inline: 16px;
    }

    img {
      cursor: pointer;
    }

    @media only screen and (min-width: 1536px) {
      max-width: 1920px;
    }

    @media screen and (min-width: 768px) {
      padding-inline: 3rem;
    }
  }

  p {
    color: #fff;
    text-align: center;
    font-family: "Raleway";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-left: 50px;
    line-height: normal;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      margin-left: 0px;
      font-size: 15px;
    }
  }
}

.searchExchangeModal {
  margin-top: 120px;
  margin-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 560px;
  max-height: 48px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  padding-inline: 16px;
  padding-block: 12px;

  @media only screen and (max-width: 768px) {
    margin-top: 80px;
    margin-inline: 0px;
  }

  input {
    background: none;
    border: none;
    color: var(--white, #fff);
    font-family: "Raleway";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    width: 95%;

    &::placeholder {
      color: #e5e5e5;
      font-family: "Raleway";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }

    &:focus {
      outline: none;
    }
  }
}

.selectedExchangesContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block: 64px;
  margin-left: 20px;
  width: 100%;

  @media only screen and (max-width: 768px) {
    overflow-x: auto;
    margin-left: 0px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.selectedExchanges {
  display: flex;
  min-width: 209.222px;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  padding-inline: 18px;
  padding-block: 12px;

  .selectedExchangesBlock {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--white, #fff);
    text-align: center;
    font-family: "Raleway";
    font-size: 14.996px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    img {
      width: 37.333px;
      height: 37.333px;
      object-fit: contain;
      border-radius: 50%;
      border: 1px solid #fff;
    }
  }
}

.orderExchanges {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-inline: 20px;
  margin-bottom: 74px;

  @media only screen and (max-width: 768px) {
    margin-inline: 0px;
  }

  p {
    color: #fff;
    font-family: "Raleway";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  .orderExchangesBlock {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    @media only screen and (max-width: 768px) {
      justify-content: space-between;
    }
  }

  .selected {
    border: 2px solid #49ac87 !important;
    background: rgba(73, 172, 135, 0.6) !important;
    backdrop-filter: blur(5px);

    &:hover {
      border: 2px solid #e95272 !important;
      background: rgba(233, 82, 114, 0.6) !important;

      .selectedIcon {
        content: url("/images/closeIcon.svg");
      }
    }
  }

  .selectedIcon {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 34px !important;
    height: 34px !important;
    z-index: 9999;
  }

  .exchangeCard {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    min-width: 217px;
    height: 161px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    cursor: pointer;

    @media only screen and (max-width: 768px) {
      width: 178.706px;
      height: 132.588px;
      padding-top: 21px;
      min-width: 0px !important;

      img {
        width: 42.706px !important;
        height: 42.706px !important;
      }

      p {
        font-size: 15.878px !important;
      }
    }

    @media only screen and (max-width: 413px) {
      width: 158px;
    }

    img {
      width: 64px;
      height: 64px;
      object-fit: contain;
      margin-inline: auto;
      border-radius: 50%;
      border: 1px solid #fff;
    }

    p {
      color: var(--white, #fff);
      text-align: center;
      font-family: "Raleway";
      font-size: 19.28px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}
