.body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;

  .halfLeft {
    flex: 1;
    max-width: 42%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    animation: changeBackground 15s ease-in-out infinite;

    .contentBox {
      align-items: flex-start;
      justify-content: flex-start;

      width: 100%;
      padding: 2.5rem;

      img {
        object-fit: cover;
        width: 185px;
      }
    }
  }

  .halfRight {
    flex: 1;
    width: 100%;
    background-color: #0d0f12;

    .contentBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 512px;
      margin-inline: auto;
      height: 100%;
    }
  }
}

.formBox {
  width: 500px;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;

  h3 {
    color: var(--white);
    text-align: center;
    font-weight: 500;
  }

  p {
    color: var(--white);
    text-align: center;
    font-weight: 500;
    margin-top: 2rem;
  }

  h1 {
    color: var(--white);
    font-weight: 600;
    font-size: var(--fs-500);
    display: inline-block;
  }

  button {
    padding: 1rem 1rem;
    color: var(--white);
    width: 100%;
    background: var(--purple-500);
    box-shadow: 0px 10px 30px rgba(123, 97, 255, 0.3);
    border-radius: 8px;
    transition: filter 0.2s ease;
    margin-top: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    &:hover,
    &:focus {
      filter: brightness(0.8);
    }

    &:active {
      filter: brightness(0.7);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 100%;
  }
}

.formBoxForget {
  width: 500px;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;

  h3 {
    color: var(--white);
    text-align: center;
    font-weight: 500;
  }

  p {
    color: var(--white);
    text-align: center;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 40px;
  }

  h1 {
    color: var(--white);
    font-weight: 600;
    font-size: var(--fs-500);
    display: inline-block;
  }

  button {
    padding: 1rem 1rem;
    color: var(--white);
    width: 100%;
    background: var(--purple-500);
    box-shadow: 0px 10px 30px rgba(123, 97, 255, 0.3);
    border-radius: 8px;
    transition: filter 0.2s ease;
    margin-top: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    &:hover,
    &:focus {
      filter: brightness(0.8);
    }

    &:active {
      filter: brightness(0.7);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 100%;
  }
}

.inputBox {
  span {
    margin-bottom: 0.25rem;
    display: inline-block;
    color: var(--white);
    font-weight: 500;
    font-size: var(--fs-400);
  }

  input {
    width: 100%;
    padding: 0.5rem;
    font-weight: 400;
    border: none;
    font-size: var(--fs-400) !important;
    letter-spacing: 1px;
    background: #21202d;
    color: #fff;
    border-radius: 8px;
    height: 52px;
  }

  .inputPassword {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;

    .eyeIcon {
      position: absolute;
      cursor: pointer;
      margin-right: 15px;
    }
  }
}

.remember {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  color: whitesmoke;
  font-weight: 400;
  font-size: var(--fs-300);
}

.check {
  margin-right: 10px;
  accent-color: var(--purple-500);
  width: 20px;
  height: 20px;
}

.socialMedia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
}

.icon {
  font-size: var(--fs-700);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
  border-radius: 50%;
  transition: 0.3;

  &:hover {
    color: var(--purple-500);
  }
}

.forgotPassword {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  padding-top: 5px;
  width: 100%;
  padding: 1rem;

  span {
    color: var(--white);
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;

    transition: all 0.1s ease-in-out;

    &:hover {
      color: #dddddd;
    }
  }
}

.comeBack {
  display: flex;
  justify-content: flex-start;
  margin-inline: auto;
  padding-top: 5px;
  width: 100%;
  padding: 1.5rem;

  span {
    color: var(--white);
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;

    transition: all 0.1s ease-in-out;

    &:hover {
      color: #dddddd;
    }
  }
}

@media screen and (max-width: 968px) {
  .body {
    flex-direction: column;

    .halfLeft {
      height: 45vh;
      flex: auto;
    }

    .halfRight {
      height: 60vh;
      flex: auto;
      padding: 3rem 0;
    }
  }

  .formBox {
    width: 90vw;
  }
}

@media screen and (max-width: 500px) {
  .body {
    .halfLeft {
      height: 30vh;
      max-width: 100%;
    }
  }
}

@keyframes changeBackground {
  0% {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/nextgain-37481.appspot.com/o/login.webp?alt=media&token=33f636a6-7cc8-4d34-b521-8a906ab7af73");
  }

  33.33% {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/nextgain-37481.appspot.com/o/login2.webp?alt=media&token=d669bc4c-91b1-4bb5-a2c8-17dfbb32eafa");
  }

  66.66% {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/nextgain-37481.appspot.com/o/login3.webp?alt=media&token=b9f1a2d0-6992-4624-95d7-412c3299dbf1");
  }

  100% {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/nextgain-37481.appspot.com/o/login.webp?alt=media&token=33f636a6-7cc8-4d34-b521-8a906ab7af73");
  }
}
