.backgroundmMonitor {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/nextgain-37481.appspot.com/o/teste.png?alt=media&token=d2a38a91-9767-42d7-9a0c-92efe528221f");
  // position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  // z-index: 9999999999;
  overflow: hidden;

  @media only screen and (max-width: 768px) {
    background: var(--gray-900);
  }
}

.content {
  display: flex;
  overflow-y: auto;
  padding-block: 2rem;
  max-height: 100vh;
  gap: 1.75rem;
  align-items: flex-start;
  flex-direction: column;
  margin-inline: auto;
  min-height: 100vh;

  main {
    flex: 1;
    width: 100%;

    h1 {
      display: flex;
      align-items: center;
      position: absolute;
      top: 27;
      z-index: 1;
      margin-top: 15px;
      justify-content: space-between;

      @media screen and (max-width: 968px) {
        font-size: 27px;
      }

      @media screen and (max-width: 768px) {
        right: 3%;
        top: 14.5%;
      }
    }
  }

  @media screen and (min-width: 968px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.operations {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(20.25rem, 1fr));

  gap: 1rem 2rem;

  margin-top: 1rem;
  // max-height: calc(1853px - 4.9rem - 104px);
  overflow-y: auto;
}

.loading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  width: 4rem;
  margin-top: 16rem;
  margin-left: 36rem;
}

@media screen and (max-width: 968px) {
  .loader {
    width: 2rem;
    margin-top: 2rem;
    margin-left: 10rem;
  }
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin: 1rem;

  svg {
    height: 7rem;
    width: 7rem;
    fill: var(--gray-400);
  }

  div {
    text-align: center;

    h2 {
      font-size: var(--fs-450);
      font-weight: 600;
      color: var(--gray-300);
    }
    p {
      font-size: var(--fs-400);
      color: var(--gray-300);
    }
  }
}

.mobileFilter {
  padding-left: 15px;
  padding-top: 20px;
  padding-right: 15px;

  span {
    margin-left: 1px;
    font-size: 20px;
  }

  @media screen and (min-width: 968px) {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    background: var(--gray-900);
  }
}
