.header {
  border-bottom: solid 1px var(--gray-500);
  font-family: "IBM Plex Sans", sans-serif;
  height: 103px;
  padding-top: 14px;
  padding-bottom: 24px;
  background: rgba(13, 15, 18, 0.9);

  :global(.container) {
    font-family: "IBM Plex Sans", sans-serif;
    display: flex;
    gap: 2.5rem;
    align-items: center;
  }

  h1 {
    text-transform: uppercase;
  }

  @media only screen and (max-width: 768px) {
    border: none;
    background: var(--gray-900);
  }
}

.logo {
  object-fit: cover;
  width: 180px;
  cursor: pointer;

  @media only screen and (max-width: 768px) {
    width: 180px;
  }
}

.desktop-navigation {
  display: block;
}

.navigation-links {
  font-size: 18px;

  ul {
    display: flex;
    gap: 2rem;
    padding: 0;

    list-style: none;

    li {
      text-align: center;

      a {
        transition: filter 0.2s ease;
        font-weight: 400;
        opacity: 0.6;

        &:active {
          color: var(--white) !important;
          font-weight: 700;
          opacity: 1;
        }

        &:global(.active) {
          color: var(--white);
          font-weight: 700;
          opacity: 1;
        }
      }

      :hover {
        filter: brightness(0.7);
      }
    }
  }
}

.profileImage {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  height: 60px;
  background-color: #7b61ff;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 12px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  /* Position the tooltip below the image */
  left: 50%;
  transform: translateX(-50%);
  /* Use transform to center the tooltip */

  opacity: 0;
  transition: opacity 0.3s;
}

/* Create the tooltip arrow */
.tooltip .tooltiptext::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 55%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #7b61ff transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  opacity: 1;
}

.name {
  margin-left: auto;
  display: flex;
  align-items: center;

  .text {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
  }

  span {
    font-weight: 700;
    font-size: 18px;
    color: #7b61ff;
  }

  img {
    width: 40px;
    height: 40px;
    margin-left: 1rem;
    border: 3px solid #ffffff;
    border-radius: 100%;
  }
}

.logout-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  margin-left: 20px;

  background-color: transparent;

  color: var(--white);
  text-transform: uppercase;
  border-radius: 4px;

  transition: filter 0.2s ease, box-shadow 0.2s ease;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 1.5px var(--white);

    filter: brightness(0.8);
  }

  &:active {
    filter: brightness(0.7);
  }
}

.nav_toggle {
  cursor: pointer;
  display: none;
}

.mobile-navigation {
  display: none;
}

@media screen and (max-width: 320px) {
  .logo {
    width: 200px;
  }
}

@media screen and (max-width: 400px) {
  .name {
    display: none;
  }
}

@media screen and (max-width: 968px) {
  .header {
    :global(.container) {
      display: flex;
      gap: 1rem;
      align-items: center;
      padding-block: 1rem;
      margin: 0;
    }
  }

  .nav_toggle {
    display: flex;
    align-items: center;
    z-index: 100;
    padding: 0.5rem 1rem;
    margin-left: auto;
  }

  .desktop-navigation {
    display: none;
  }

  .navigation-links {
    height: 100%;

    ul {
      flex-direction: column;
      margin-top: 8.3rem;
      gap: 0.5rem;

      li {
        flex: 1;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;
          height: 100%;
          padding-block: 2rem;
        }
      }
    }
  }

  .mobile-navigation {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: min(425px, 100%);
    background: var(--gray-900);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 60;
    transform: translateX(100%);
    transition: all 0.7s ease;

    &:global(.active) {
      transition: all 0.5s ease;
      transform: translateX(0);
    }
  }

  .logout-button {
    display: none;
  }
}

.hamburguer {
  display: none;
}

.menuContent {
  display: none;
}

.menuItem {
  display: none;
}

.nameHamburguer {
  display: none;
}

.logoutMobile {
  display: none;
}

@media screen and (max-width: 1243px) {
  .logo {
    width: 150px;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 150px;
    border-color: white;
  }

  .nav_toggle {
    padding: 0;
  }

  .hamburguer {
    display: block;
    width: 45px;
    height: 45px;

    margin-left: 39%;
    margin-top: -5%;
  }

  .shadowMenu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40vw;
    background-color: #0d0f129f;

    transform: translateX(-250%);
    transition: transform 0.3s ease-out;
  }

  .shadowMenu.open {
    transform: translateX(0);
  }

  .menuContent {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60vw;
    background-color: #0d0f12;
    z-index: 100;
    padding-top: 2rem;
    padding-left: 1.5rem;

    /* Adicione estas duas linhas */
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }

  .menuContent.open {
    transform: translateX(0);
  }

  .menuItem {
    display: block;
    color: #8a8a8a;

    margin-top: 2rem;
    font-family: "IBM Plex Sans", sans-serif;

    font-size: 20px;
  }

  .active {
    composes: menuItem;
    color: #fff;
    font-weight: 600;
  }

  .name {
    display: none;
  }

  .nameHamburguer {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    .text {
      font-size: 16px;
      font-weight: 500;
      color: #fff;
    }

    span {
      font-weight: 700;
      font-size: 18px;
      color: #7b61ff;
    }

    img {
      width: 40px;
      height: 40px;
      margin-left: 1rem;
      border: 4px solid #ffffff;
      border-radius: 100%;
    }
  }

  .logoutMobile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    margin-left: -15px;

    margin-top: 120%;

    background-color: transparent;

    color: var(--white);
    text-transform: uppercase;
    border-radius: 4px;

    transition: filter 0.2s ease, box-shadow 0.2s ease;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 1.5px var(--white);

      filter: brightness(0.8);
    }

    &:active {
      filter: brightness(0.7);
    }
  }
}
