.header {
  border-bottom: solid 1px var(--gray-500);

  :global(.container) {
    display: flex;
     gap: 2.5rem;
    align-items: center;
    padding-block: 1rem;
    
  }

  h1 {
    text-transform: uppercase;
  }
}

.logo{
  object-fit: cover;
  width: 240px;
  margin-right: 30px;
  cursor: pointer;
}

.navigation-links {
  text-transform: uppercase;

  ul {
    display: flex;
    gap: 1.5rem;
    padding: 0;

    list-style: none;

    li {
      a {
        transition: filter 0.2s ease;
        font-weight: 300;

        &:active {
          color: var(--purple-500) !important;
          font-weight: 700;
        }

        &:global(.active) {
          color: var(--purple-500) ;
        }
      }

      :hover {
        filter: brightness(0.7);
      }
    }
  }
}

.logout-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  margin-left: auto;

  background-color: transparent;

  color: var(--white);
  text-transform: uppercase;
  border-radius: 4px;

  transition: filter 0.2s ease, box-shadow 0.2s ease;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 1.5px var(--white);

    filter: brightness(0.8);
  }

  &:active {
    filter: brightness(0.7);
  }
}



.nav_toggle{
  cursor: pointer;
  display:none;
}

@media screen and (max-width:968px){

  .header{
    :global(.container) {
      display: flex;
      gap: 7rem;
      align-items: center;
      padding-block: 1rem;
      margin: 0;
    }
  }

  .nav_toggle{
    display: flex;
    align-items: center;
     z-index: 100;
    padding: 0.5rem 1rem;
    margin-left: auto;
    
  }

  .navigation-links{
    display: flex;
    justify-content: center;
    align-items: center;

    ul{
      gap: 7rem;
    }
  }

  .navigation{
    position :fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 93vh;
    background: var(--gray-900);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transform: translateX(100%);
    transition:all 0.7s ease;
  }

  .navigation.active{
    transition: all 0.5s ease;
    transform: translateX(0);
  }

  .logout-button {
    display:none;
  }
  .header {    
    :global(.container) {
      padding-block: 10px;
      gap: 7rem;
    }
  
  }
  
  .logo{
    margin-left: -20px;
  }
  
}
