.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2rem;
    min-width: 290px;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    background: var(--gray-800);
    border-radius: 15px;
    -webkit-box-shadow: 3px 5px 10px 6px rgba(0,0,0,0.27); 
    box-shadow: 3px 5px 10px 6px rgba(0,0,0,0.27);
}

.sidebarWrapper{
    margin-left: -10px;
    color: rgb(243, 243, 243);
}

.sidebarMenu{
    margin-bottom: 20px;
}

.sidebarTitle{
    font-size: 21px;
}


.sidebarList{
    margin-left: 10px;
    list-style: none;
    padding: 5px;
}

.sidebarListItem{
    padding: 5px;
    cursor: pointer;    
    display: flex;
    align-items: center;
    border-radius: 10px;    
}

.sidebarListItem:active{
    background-color: var(--purple-500);
    color: whitesmoke !important;
    .sidebarIcon{
        color: whitesmoke !important;
    }
}


.sidebarListItem.active, .sidebarListItem:hover{
    background-color: var(--purple-500);
    color: whitesmoke !important;
    .sidebarIcon{
        color: whitesmoke !important;
    }
}


.sidebarIcon{
    margin-right: 5px;
    color: var(--purple-200);
    font-size: 24px !important;
}

.sidebarText{
    font-size: 19px;        
}