.modalBackground {
  animation: fadein 0.5s;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.685);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buyAndSell {
  margin-block: 1rem;
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  img {
    width: 30px;
    object-fit: cover;
    border-radius: 50px;
  }

  .iconArrow {
    color: #7b61ff;
  }
}

.modalContainer {
  width: 700px;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  background: #0d0f12;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 1rem;

  @media screen and (max-width: 968px) {
    width: 80vw;
  }
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  margin: 5px auto 0;
  word-break: break-all;
}

.textModal {
  margin: 35px auto 19px auto;
  align-items: center;
  span {
    font-size: var(--fs-400);
    font-weight: 500;
    color: var(--white);
    opacity: 0.6;
    text-transform: uppercase;
  }
}

.textModalBottom {
  margin: 19px auto 24px auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  .textSpan {
    font-size: var(--fs-400);
    font-weight: 500;
    color: var(--white);
    opacity: 0.6;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  .coin {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 32px;
      border-radius: 50%;
      margin-right: 8px;
    }
    span {
      font-size: var(--fs-450);
      font-weight: 500;
      color: var(--white);
      text-transform: uppercase;
    }
  }
}

.blocTabs {
  display: flex;
  color: var(--white);
}
.tabs {
  padding: 1rem;
  font-size: 20px;
  text-align: center;
  width: 50%;
  background-color: var(--gray-800) !important;
  color: var(--white);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  text-transform: uppercase;

  &:global(.activeCompra) {
    background-color: #0d0f12 !important;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
    font-weight: 800;
    font-size: var(--fs-450);
    color: #49ac87;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% + 2px);
      height: 5px;
      background: #49ac87;
    }
  }

  &:global(.activeVenda) {
    background-color: #0d0f12 !important;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
    font-weight: 800;
    color: #e95272;
    font-size: var(--fs-450);

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% + 2px);
      height: 5px;
      background: #e95272;
    }
  }
}
.tabs:not(:last-child) {
  background-color: #0d0f12 !important;
  border-right: 1px solid rgba(0, 0, 0, 0.274);
  color: #49ac87;
  font-weight: 800;
  font-size: var(--fs-450);
}

.tabs:not(:first-child) {
  background-color: #0d0f12 !important;
  border-right: 1px solid rgba(0, 0, 0, 0.274);
  font-size: var(--fs-450);
  color: #e95272;
  font-weight: 800;
}

.contentTabs {
  flex-grow: 1;
}
.content {
  width: 100%;
  height: 100%;
  display: none;
  h2 {
    padding: 0px 0 5px 0px;
  }
  hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  p {
    width: 100%;
    height: 100%;
  }
}
.activeContent {
  display: block;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  h3 {
    font-size: var(--fs-500);
    font-weight: 600;
    margin-left: 10px;
  }

  .closeModal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;

    color: var(--white);
    background-color: transparent;
    border: none;
    border-radius: 4px;

    transition: filter 0.2s ease, color 0.2s ease, background-color 0.2s ease;

    &:hover,
    &:focus {
      color: var(--purple-500);
      background-color: var(--gray-700);
    }

    &:active {
      filter: brightness(0.8);
    }
  }
}

.modalContainer .footer {
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modalContainer .footer button {
  width: 171px;
  height: 43px;
  color: var(--white);
  border-radius: 4px;
}

.voltarBtn {
  background-color: #21202d;
  color: var(--white);
  border-radius: 8px;
  transition: filter 0.2s ease, border 0.2s ease;

  &:hover {
    color: var(--purple-200);
    transition: filter 0.2s ease, box-shadow 0.2s ease;
    border-color: var(--purple-200);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .buyAndSell {
    p {
      font-size: 10px;
    }
  }
}
